$primary: #C41A1F;

@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: 'DragonHunter';
  src: url(../public/dragonhunter.otf) format('opentype');
}

$enable-shadows: true;

.hero-image {
  background-image: url('../public/pattern.png');
  background-repeat: repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.hero {
  background-image: url('../public/pattern.png');
  background-repeat: repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.dragonhunter {
  font-family: 'DragonHunter';
}

.vignette {
  position: relative;
}

.vignette::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, transparent 40%, rgba(0, 0, 0, 0.7));
}

.vignette > * {
  position: relative;
  z-index: 1;
}

.rounded-xl {
  border-radius: 1rem;
}